html, body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navi {
  width: 80px;
  height: 100vh;
  background: linear-gradient(0deg, rgba(255, 0, 150, 0.45), rgba(255, 110, 220, 0.45));
  float: left;
  position: fixed;
  display: inline-block;
}

.splasher {
  width: auto;
  height: 100vh;
  /*background-color: #1a1a1a;*/
  /*opacity: 0.9;*/
  /*background-image: url('../images/warrior.jpg');*/
  /*background-position: center center;*/
  background-repeat: no-repeat;
  background: linear-gradient(0deg, rgba(255, 0, 150, 0.45), rgba(255, 110, 220, 0.45)), url(../images/warrior.jpg);
}
